<div class="wrapper">

  <div class="sort">

  </div>

  <div class="container">
    <div class="row">
     <!--  <div class="col-xs-4 col-xs-offset-0"> -->
        <div class="cards">
          <% @bows.each do |bow|%>
            <%= link_to bow_path(bow) do %>
              <div class="bow-card">
                <div class="card-photo">
                <!-- link to photo url -->
                </div>
                <div class="card-description">
                  <%= bow.description %>
                  <p>Price: <%= humanized_money_with_symbol(bow.price) %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <%= link_to "Add a new bow", new_bow_path %>

</div>


