<p><%= link_to "Bow 1", bow_path %></p>

<%= link_to "back to bows", bows_path %>

<%= link_to "edit bows", edit_bow_path if current_user == @bow.user %>




<% if current_user == @bow.user %>
<%=  link_to "Delete", bow_path(@bow),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
  <% end %>
