.bow-photo {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 500px;
  width: 500px;
  text-align: center;
  justify-content: space-between;
  margin: 15px;
}

.wrap {
  padding: 100px;
}
