.wrapper {
  width: 1500px;
  background-color: white;
}

.cards {
  display: flex;
  padding-top: 100px;
}

.card-photo {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 30px;
  height: 400px;
  width: 300px;
  text-align: center;
  justify-content: space-between;
  margin: 15px;
}

.card-description {
  padding: 15px, 30px, 30px, 30px;
  text-align: center;
  color: $blue;

}

a:hover {
  text-decoration: none;
}

